PORT=7002
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/docks2doc
JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRES_IN=7d
CORS_ORIGIN=http://localhost:3000/docks2doc,http://192.168.168.41:3000/docks2doc,https://winggs.com/docks2doc
DEMO_PASSWORD="YOURDEMOPASSWORD
SAFER_API_KEY="YOUR SAFER_API_KEY"